.feedback-pane {
    -fx-background-color: #CCCCCC;
}

.table-view {
  -fx-table-cell-border-color: transparent;
  -fx-border-width: 0 0 0 0;
  -fx-border-color: #FFFFFF;
  -fx-background-insets: 0, 0, 0, 0;
}

.table-view .filler {
  -fx-border-color: transparent;
}

.table-view .table-row-cell {
	-fx-background-color: #FFFFFF;
}

.table-view .table-cell {
	-fx-padding: 5;
	-fx-font-family: "Segoe UI Semibold";
}

.column-header {
	-fx-background-color: #2d89ef;
	-fx-border-width: 0, 1, 0, 0;
	-fx-border-color: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
	-fx-padding: 5;
}

.column-header .label, .table-view .placeholder .label {
	-fx-text-fill: #FFFFFF;
	-fx-alignment: CENTER_LEFT;
	-fx-font-family: "Segoe UI Semibold";
}

.header-label-selected {
	-fx-font-size: 24px;
	-fx-text-fill: #0066FF;
}

.header-label-normal {
	-fx-font-size: 20px;
	-fx-text-fill: #9F9F9F;
}

.root {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
    -fx-background-radius: 5;
    -fx-padding: 50;
}

.content {
    -fx-background-color: #c0c0c0;
    -fx-background-radius: 5;
    -fx-padding: 10;
}